<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>LinguaGuardian: Grammar Corrector</title>
    
    <script defer src="../static/app.js"></script>
    <link rel="stylesheet" href="../static/app.css" />
  </head>
  <body>
    <header>
        <img class="logo" src="/images/logo.jpeg" alt="logo">
        <h2 id="heading">LinguaGuardian: Your Language Companion</h2>
        <div class="nav">
            
            <ul class = "nav-bar">
                <li><a href="../Home.html">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><button class="logout"><a href="">Logout</a></button></li>
            </ul>
        </div>
    </header>
    

    <div class="container container__phone">
      <h1 id="title">Write. Correct. Rewrite.</h1>
      <h2 id="title--sub">
        LinguaGuardian: Grammar Corrector is a free online grammar checker that helps to write
        clear and concise sentences.
      </h2>
      <div class="container__center">
        <div class="text__container">
          <div
            class="panel text_input"
            inputmode="text"
            contenteditable="true"
            spellcheck="false"
            tabindex="0"
            id="text_input"
          > </div>
          <div class="button-link">
            <button
              class="button"
              id="correct"
              name="action"
              type="submit"
              value="correct"
              onclick=""
            >
              Correct
            </button>
            <button
              class="button"
              id="rewrite"
              name="action"
              type="submit"
              value="rewrite"
            >
              Rewrite
            </button>
            <button
            class="button"
            id="clear"
            type="submit"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
